* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #0b5a73, #2ad8ff);
}

.container {
    width: 400px;
    height: 90vh;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px #fff;
}

.container h2 {
    background: #075E54;
    color: white;
    padding: 1rem;
}